<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 style="color:red;">{{ message }}</h2>
    <form method="post", action="/generate-password">
         <label for="system"><h3>Choose the system :</h3></label> <br>
        <select name="system" id="legacy">
          <option value="HR">HR</option>
          <option value="Finance">Finance</option>
          <option value="IT">IT</option>
        </select><br><br><br>

        <label>Username</label><br>
        <input type="text" name="username"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>