<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login </title>
</head>
<body>
    <form method="post" action="/create_generate_password">
    <h1> Hello </h1>
     <input type="radio" id="create_password" name="password_creation_option" value="create_password">
    <label for="create_password">Create Password</label><br>
    <input type="radio" id="generate_password" name="password_creation_option" value="generate_password">
    <label for="generate_password">Generate Password</label><br>
    <input type="submit" value="Submit"> &nbsp; &nbsp;
    </form>
</body>
</html>